#readJSON,#outputPDF,#writeJSON,#previewSS
{
    display: none;
}

/* ボタンのプロパティ */
.buttonbox
{
    widows: 5px;
    height: 25px;

    display: inline-block;
	position: relative;
	width: 150px;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: rgb(236, 233, 233);
    border:1px solid #1B1B1B;
}

/* メイン画面の+-ボタンのプロパティ */
#deleteRow,#insertRow
{
    width: 2rem;
    margin-left: 15px;
}
#No
{
    margin-left: 300px;
}

.StyleInfoTable
{
    background-color:  #ffc;
}

.StyleOutputTable
{
    background-color: #ffc;
}

.StyleTitle
{
    border-bottom: solid 1px red;
}

.menufont
{
    font-size:12px;
}


/* 業務種別の欄のスタイル */
#check1,#check2,#check3,#check4,#check5
{
    /* 中央ぞろえ */
    margin-left: 8px;
}


